[global]
ca_file = "include/auth-ca.crt"
certificate_file = "include/vs-noise.crt"
private_key_file = "include/vs-noise.key"
zpr_addr = [ "fd5a:5052::1" ] # visa service well known addr
tun_if = "tun9"

[adapter]
name = "vs.zpr"
# This is private addr of node1 running locally (port 5000).
# TBD: how to get this?
node_addr = "@@NODE1_ADDR@@:5000"
node_public_key_file = "include/node1-noise-pub.pem"
bootstrap_key = "include/vs-private-key.pem"

