services:
  node:
    image: alohagarage/zpr:latest
    platform: linux/amd64
    container_name: node
    command: ["/entrypoint.sh"]
    volumes:
      - ./authority:/authority
      - ./docker-node/entrypoint.sh:/entrypoint.sh
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    privileged: true
    networks:
      - dualstack

  visa-service:
    image: alohagarage/zpr:latest
    platform: linux/amd64
    container_name: visa-service
    command: ["/entrypoint.sh"]
    volumes:
      - ./authority:/authority
      - ./docker-vs/entrypoint.sh:/entrypoint.sh
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    privileged: true
    networks:
     dualstack:
        ipv6_address: fd5a:5052::2
        ipv4_address: 129.6.7.2

  admin-proxy:
    image: alpine/socat
    container_name: admin-proxy
    command: >
      tcp-listen:8182,fork,reuseaddr
      tcp-connect:[fd5a:5052::2]:8182
    ports:
      - "8182:8182"
    depends_on:
      - visa-service
    networks:
      - dualstack
  
networks:
  dualstack:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: 129.6.7.0/24
        - subnet: fd5a:5052::/64
